html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
}

header {
  padding: 0.8em;
  padding-left: 1.2em;
}

header h1 {
  margin: 0;
  font-size: 1.6em;
  a {
    text-decoration: none;
    color: #666;
  }
}

.article-list {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  max-width: 700px;
  ul {
    list-style: none;
  }
  li {
    margin-top: 1.5em;
  }
  a {
    text-decoration: none;
  }
}

.main {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

article {
  max-width: 700px;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: .02em;
  text-align: justify;
  h1 {
    color: #4d7ca2;
    font-size: 1.8em;
    padding-bottom: 6px;
    border-bottom: 2px solid rgba(#4d7ca2, 0.2);
  }
  h2, h3, h4, h5 {
    font-size: 1.6em;
  }
  p {
    margin:0 0 2rem;
  }
}

.next-article {
  margin-top: 3em;
  margin-bottom: 2em;
  a {
    text-decoration: none;
  }
}

footer {
  box-sizing: border-box;
  padding: 2em;
  padding-top: 3em;
  width: 100%;
  h2 {
    text-align: center;
    margin-top: 3em;
    margin: 0;
    font-size: 1.2em;
    a {
      text-decoration: none;
    }
  }
}

.copy-right {
  text-align: right;
  a {
    text-decoration: none;
    color: #999;
  }
}
